body, html {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-x: hidden;
}

/* Content style */
#featherBG {
    position: fixed;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    pointer-events: none;
}

#feather {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    pointer-events: none;
}

#articleBGContainer {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 100vw;
    height: 910vh;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    pointer-events: none;
}

#articleBG {
    position: absolute;
    top: -40px;
    height: 106%;
    width: 100vw;
    overflow-y: scroll;
    pointer-events: none;
}

#articleContainer {
    position: absolute;
    top: 300px;
    left: 555px;
    width: 38vw;
    height: 910vh;
    background-color: rgba(255, 0, 0,0);
    border: none;
    justify-content: center;
    align-items: center;
}

/* load title layer, scroll to hide */
#heading {
    position: absolute;
    top: 250px;
    left: 555px;
    width: 38vw;
    height: 80vh;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    z-index: 4;
}

/* paragraph styles */
p {
    align-items: start; 
    justify-items: center;
    font-family: 'DiatypeMono', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    line-height: 15pt;
    color: #474747;
}
  
h1 {
    font-family: 'Redaction', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 42pt;
    text-align: center;
}
  
h2 {
    font-family: 'DiatypeMono', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13pt;
    color: #2c72ff;
    text-align: center;
}

h3 {
    font-family: 'DiatypeMono', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    line-height: 15pt;
    color: #2c72ff;
}

h4 {
    position: relative;
    top: -4vh;
    left: 2vw;
    font-family: 'DiatypeMono', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8pt;
    color: #2c72ff;
}
  
.break {
    position: relative;
    left: 15vw;
    font-family: 'Redaction', serif;
    font-size: 30pt;
    color: #2c72ff;
}

  
/* Rectangle that appears on hover */
.hover-rectangle {
    font-weight: medium;
    font-style: italic;
    /* color: white; */
    background-color: #62a8e545;
    position: relative; 
    z-index: 3;
}
  
.hover-rectangle::after {
    content: ""; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px; 
    height: 3px; 
    background-color: #2c72ff;
    transform: scaleX(0); 
    transform-origin: center;
    transition: transform 0.3s ease; 
    pointer-events: none;
}
  
.hover-rectangle:hover::after {
    transform: scaleX(1); 
}

#LawrenceLek {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#Matrix {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#tiktok {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}


/* buttons */
#toLanding {
    position: absolute;
    top: 23vh;
    left: 79vw;
    width: 160px;
    height: 160px;
    background-color: #ff000000;  
    border: none;
    cursor: pointer; 
    z-index: 2;
}

#toLandingLogo {
    position: absolute;
    top: 21.5vh;
    left: 73.5vw; 
    width: 20%;
    height: 20%;
    z-index: 1;
}

#logoBox {
    position: absolute;
    top: 933vh;
    left: 46vw;
    width: 160px;
    height: 60px;
    background-color: #ff000000;  
    border: none;
    cursor: pointer;
    z-index: 2; 
}

#backToTop {
    position: absolute;
    top: 933vh;
    left: 46vw;
    width: 160px;
    height: 60px;
}

#mastheadHere {
    position: absolute;
    top: 941vh;
    left: 41vw;
    width: 340px;
    height: 60px;
    background-color: #ff000000;  
    border: none;
    z-index: 2; 
}

/* previous & next */
#previous {
    position: absolute;
    top: 937vh;
    left: 29vw;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftArrow {
    cursor: pointer;
    /* z-index: 2; */
}

#lefttooltip {
    position: absolute; 
    background: rgb(255, 255, 255);
    color: #2c72ff;
    filter: drop-shadow(0 0 0.2rem #2c72ff);
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 0.9em;
    pointer-events: none;
    visibility:hidden;
    white-space: nowrap;
    z-index: 10;
}

#next {
    position: absolute;
    top: 937vh;
    left: 71vw;
    width: 50px;
    height: 50px;
    background-color: #ff000000;  
    border: none;
    cursor: pointer;
    z-index: 2; 
}

#rightArrow {
    cursor: pointer;
    /* z-index: 2; */
}

#righttooltip {
    position: absolute; 
    background: rgb(255, 255, 255);
    color: #2c72ff;
    filter: drop-shadow(0 0 0.2rem #2c72ff);
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 0.9em;
    pointer-events: none;
    visibility:hidden;
    white-space: nowrap;
    z-index: 10;
}

/* masthead button */
#mastheadBox {
    position: fixed;
    top: 2vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mastheadLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
}
  
#mastheadText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}

/* outnow button */
#outnowBox {
    position: fixed;
    top: 11vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#outnowLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#outnowText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}

/* subscribe button */
#subscribeBox {
    position: fixed;
    top: 20vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#subscribeLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#subscribeText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}



/* loading typefaces */
@font-face {
    font-family: 'Redaction';
    src: url('Fonts/Redaction20-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction';
    src: url('Fonts/Redaction20-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DiatypeMono';
    src: url('Fonts/ABCDiatypeMono-Regular-Trial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DiatypeMono';
  src: url('Fonts/ABCDiatypeMono-MediumItalic-Trial.otf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
