body, html {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

/* Content style */
#featherBG {
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    pointer-events: none;
}

#feather {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    pointer-events: none;
}

#tocBG {
    position: absolute;
    top: 150px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}



/* buttons */
#toLanding {
    position: absolute;
    top: 23vh;
    left: 79vw;
    width: 160px;
    height: 160px;
    background-color: #ff000000;  
    border: none;
    cursor: pointer; 
    z-index: 2;
}

#toLandingLogo {
    position: absolute;
    top: 21.5vh;
    left: 73.5vw; 
    width: 20%;
    height: 20%;
    z-index: 1;
}



/* article titles & boxes */

/* chatGPT */
#chatBox {
    position: absolute;
    top: 37vh;
    left: 18vw; 
    width: 800px;
    height: 55px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: start;
    justify-content: left;
    cursor: pointer;
}

#thumbnailChat {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}
  
#chatTitle {
    position: absolute;
    top: -35px; 
    color: #474747;
    font-size: 32px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s;
    transition: left 0.3s ease;  
    z-index: 0;
}

#chatAuthor {
    position: absolute;
    top: 23px;
    color: #474747;
    font-size: 16px;
    font-family: 'DiatypeMono', san-serif; 
    font-style: normal;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}


/* what go wrong */
#wrongBox {
    position: absolute;
    top: 52vh;
    left: 18vw; 
    width: 1200px;
    height: 100px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: start;
    justify-content: left;
    cursor: pointer;
}

#thumbnailWrong {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}
  
#wrongTitle {
    position: absolute;
    top: -35px;
    color: #474747;
    font-size: 32px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    line-height: 1.3;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}

#wrongAuthor {
    position: absolute;
    top: 66px;
    color: #474747;
    font-size: 16px;
    font-family: 'DiatypeMono', san-serif; 
    font-style: normal;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}


/* Are you there god */
#godBox {
    position: absolute;
    top: 71vh;
    left: 18vw; 
    width: 900px;
    height: 55px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: start;
    justify-content: left;
    cursor: pointer;
}

#thumbnailGod {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}
  
#godTitle {
    position: absolute;
    top: -35px;
    left: 0; 
    color: #474747;
    font-size: 32px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    line-height: 1.3;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}

#godAuthor {
    position: absolute;
    top: 23px;
    color: #474747;
    font-size: 16px;
    font-family: 'DiatypeMono', san-serif; 
    font-style: normal;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}


/* six reflections */
#sixBox {
    position: absolute;
    top: 86.5vh;
    left: 18vw; 
    width: 1000px;
    height: 55px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: start;
    justify-content: left;
    cursor: pointer;
}

#thumbnailSix {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}
  
#sixTitle {
    position: absolute;
    top: -35px;
    color: #474747;
    font-size: 32px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    line-height: 1.3;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}

#sixAuthor {
    position: absolute;
    top: 23px;
    color: #474747;
    font-size: 16px;
    font-family: 'DiatypeMono', san-serif; 
    font-style: normal;
    transition: color 0.3s; 
    transition: left 0.3s ease;  
    z-index: 0;
}


/* masthead button */
#mastheadBox {
    position: absolute;
    top: 2vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mastheadLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
}
  
#mastheadText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}

/* outnow button */
#outnowBox {
    position: absolute;
    top: 11vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#outnowLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#outnowText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}

/* subscribe button */
#subscribeBox {
    position: absolute;
    top: 20vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#subscribeLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#subscribeText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction', serif; 
    font-style: normal;
    transition: color 0.3s; 
    z-index: 3;
}



/* loading typefaces */
@font-face {
    font-family: 'Redaction';
    src: url('Fonts/Redaction20-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction';
    src: url('Fonts/Redaction20-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DiatypeMono';
    src: url('Fonts/ABCDiatypeMono-Regular-Trial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DiatypeMono';
  src: url('Fonts/ABCDiatypeMono-MediumItalic-Trial.otf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
