body, html {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

/* Content style */
#featherBG {
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    pointer-events: none;
}

#feather {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    pointer-events: none;
}

#tocBG {
    position: absolute;
    top: 150px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#text {
    position: absolute;
    top: 42vh;
    left: 17vw;
    color: #2c72ff;
    font-size: 200px;
    transition: font 0.1s ease; 
}

#toPreview {
    position: absolute;
    top: 62vh;
    left: 64vw;
    color: #2c72ff;
    font-size: 48px;
    font-family: 'DiatypeMono', sans-serif; 
    font-style: normal;
}

#rightNow {
    position: absolute;
    top: 63vh;
    left: 81.5vw;
    width: 50px;
    height: 50px;
    background-color: #ff000000;  
    border: none;
    z-index: 2; 
}

#rightArrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

/* buttons */
#toLanding {
    position: absolute;
    top: 85vh;
    left:14vw;
    width:200px;
    height:80px;
    border: none;
    cursor: pointer;
    background-color:rgba(255, 0, 0, 0);
}

/* masthead button */
#mastheadBox {
    position: absolute;
    top: 2vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mastheadLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
}
  
#mastheadText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction20', serif; 
    font-style: normal;
    font-weight: bold;
    transition: color 0.3s; 
    z-index: 3;
}

/* outnow button */
#outnowBox {
    position: absolute;
    top: 11vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#outnowLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#outnowText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction20', serif; 
    font-style: normal;
    font-weight: bold;
    transition: color 0.3s; 
    z-index: 3;
}

/* subscribe button */
#subscribeBox {
    position: absolute;
    top: 20vh;
    left: 3vh; 
    width: 65px;
    height: 65px;
    margin: 0;
    background-color: #ff686800;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#subscribeLogo {
    position: absolute;
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease;
}
  
#subscribeText {
    position: absolute;
    top: 40px;
    color: #2c72ff;
    font-size: 14px;
    font-family: 'Redaction20', serif; 
    font-style: normal;
    font-weight: bold;
    transition: color 0.3s; 
    z-index: 3;
}



/* loading typefaces */

/* Redaction 0 */
@font-face {
    font-family: 'Redaction0';
    src: url('Fonts/Redaction-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction0';
    src: url('Fonts/Redaction-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction0';
    src: url('Fonts/Redaction-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction10 */
@font-face {
    font-family: 'Redaction10';
    src: url('Fonts/Redaction10-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction10';
    src: url('Fonts/Redaction10-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction10';
    src: url('Fonts/Redaction10-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction20 */
@font-face {
    font-family: 'Redaction20';
    src: url('Fonts/Redaction20-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction20';
    src: url('Fonts/Redaction20-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction20';
    src: url('Fonts/Redaction20-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction35 */
@font-face {
    font-family: 'Redaction35';
    src: url('Fonts/Redaction35-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction35';
    src: url('Fonts/Redaction35-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction35';
    src: url('Fonts/Redaction35-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction50 */
@font-face {
    font-family: 'Redaction50';
    src: url('Fonts/Redaction50-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction50';
    src: url('Fonts/Redaction50-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction50';
    src: url('Fonts/Redaction50-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction70 */
@font-face {
    font-family: 'Redaction70';
    src: url('Fonts/Redaction70-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction70';
    src: url('Fonts/Redaction70-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction70';
    src: url('Fonts/Redaction70-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Redaction100 */
@font-face {
    font-family: 'Redaction100';
    src: url('Fonts/Redaction100-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction100';
    src: url('Fonts/Redaction100-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction100';
    src: url('Fonts/Redaction100-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* DiatypeMono */
@font-face {
    font-family: 'DiatypeMono';
    src: url('Fonts/ABCDiatypeMono-Regular-Trial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DiatypeMono';
  src: url('Fonts/ABCDiatypeMono-MediumItalic-Trial.otf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
